<div class=" signupdiv">
    <a class="w-25">
        <img src="{{ url_for('static', filename='IAMSTEM.webp') }}" width="300" height="200" alt="">

    </a>
    <h1 class="marginauto w-50">I AM STEM</h1>
    <div style="width: 15%;">
        <a href="#">
        <img  class="rounded-circle z-depth-2"   width="50" height="50" alt="Profile">
    </a>
    </div>
</div>
<div class="topnav mt-2">

    {% if homepage %}
    <a class="active " href="/">Home</a> {% else %}
    <a href="/">Home</a> {% endif %}

    {% if session['role'] == "Student" and session['loggedin']== True %}
    <a  href="/#">student Info</a>  


    {% elif session['role'] == "Instructor" and session['loggedin']== True %}
    {%if Instructer_page  %}
    <a  class = active href="/instructor">Instructor
    </a>
    {%else%}
    <a  href="/instructor">Instructor </a>
    {% endif %}
    {% endif %}



    <a href="#news ">About I AM STEM</a>
    <a href="#contact ">Donations/Payments</a>
    <a href="#about ">Sponsors</a>
    <a href="#about ">Contact US</a>
    <a href="#about ">Shop</a>


    <div style="float: right; ">
        {% if session['loggedin'] %}
        <a href="/logout">Log out</a>
         {%else%} 
         {% if signuppage %}<a class="active " href="/signup">Signup</a> 
        {% else %}<a href="/signup ">Signup</a> {% endif %} 
        {% if loginpage %} <a class="active " href="/login">Sign in</a>
        {% else %}<a href="/login ">Sign in</a> {% endif %} {%endif%}
        
    </div>



</div>