<div class=" signupdiv">
    <a class="w-25">
        <img src="{{ url_for('static', filename='IAMSTEM.webp') }}" width="300" height="200" alt="">

    </a>
    <h1 class="marginauto w-50">I AM STEM</h1>
</div>
<div class="topnav mt-2">

    {% if homepage %}
    <a class="active " href="/home">Home</a> {% else %}
    <a href="/home">Home</a> {% endif %}

    <a href="#news ">About I AM STEM</a>
    <a href="#contact ">Donations/Payments</a>
    <a href="#about ">Sponsors</a>
    <a href="#about ">Contact US</a>
    <a href="#about ">Shop</a>
    <div style="float: right; ">
        {% if signuppage %} <a class="active " href="/signup">Signup</a>{% else %}
        <a href="/signup ">Signup</a> {% endif %} {% if loginpage %} <a class="active " href="/login">Sign in</a>{% else %}
        <a href="/login ">Sign in</a> {% endif %}
    </div>

</div>