<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='styles/style.css' ) }}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body style="background-color: aliceblue;">

    {% include "nav.html" %}

    <div class="mt-2">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="mt-4 ml-4 mr-4">
            <div class="p-3 mb-2 bg-danger text-white">
                {{ message }}
                <a href="/login">login now</a>
                <a href='/signup'><i class="material-icons float-md-right" style="font-size:25px">close</i></a>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>



    <div class="container mt-2 mb-4 acc">
        <h4>Already a member</h4>
        <a href="/login"> Login here</a>
    </div>


    <div class="container">
        <form method="POST" action="">

            <fieldset class="marginauto form-group">
                <legend class="border-bottom mb-4">
                    Sign Up
                </legend>
                <div class="signupdiv">
                    <div class="form-group">
                        {{signupform.firstname.label(class="form-control-label")}} {% if signupform.firstname.errors %} {{ signupform.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.firstname.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.firstname(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                    <div class="form-group">
                        {{signupform.secondname.label(class="form-control-label")}} {% if signupform.secondname.errors %} {{ signupform.secondname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.secondname.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.secondname(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                </div>
                <div class="mb-2 ml-2 mr-2">
                    {{signupform.email.label(class="form-control-label")}} {% if signupform.email.errors %} {{ signupform.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in signupform.email.errors %}
                        <span>{{ error }}</span> {% endfor %}
                    </div>
                    {% else %} {{signupform.email(class="form-control form-control-lg ")}} {% endif %}
                </div>
                <div class="signupdiv">
                    <div class="form-group">
                        {{signupform.password.label(class="form-control-label")}} {% if signupform.password.errors %} {{ signupform.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.password(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                    <div class="form-group">
                        {{signupform.confirm_password.label(class="form-control-label")}} {% if signupform.confirm_password.errors %} {{ signupform.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.confirm_password.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.confirm_password(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                </div>
                <div class="signupdiv">
                    <div class="form-group">
                        {{signupform.phone.label(class="form-control-label")}} {% if signupform.phone.errors %} {{ signupform.phone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.phone.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.phone(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                    <div class="form-group">
                        {{signupform.role.label(class="form-control-label")}} {% if signupform.role.errors %} {{ signupform.role(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.role.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.role(class="form-control form-control-lg ")}} {% endif %}
                    </div>
                </div>
                <div class="signupdiv">
                    <div class="form-check form-check-inline">
                        {{signupform.grade.label(class=" form-control-label")}} {% if signupform.grade.errors %} {{ signupform.grade(rows = 4, multiple=True, class=" form-check-input ml-1 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in signupform.grade.errors %}
                            <span>{{ error }}</span> {% endfor %}
                        </div>
                        {% else %} {{signupform.grade(rows = 4, multiple=True, class=" form-check-input ml-5 ")}} {% endif %}
                    </div>
                    <div class="form-group">
                        {{signupform.submit(class="btn btn-outline-info")}}
                    </div>
                </div>
            </fieldset>

        </form>
    </div>


</body>

</html>